<!DOCTYPE html>
<html>
<head>
    <title>Müşteri Yönetim Sayfası</title>
    <style>
        body {
            background-image: url(https://www.mbsunu.com//upload/45ba812f80.webp);
            background-size: cover; 
           
        }
    </style>
   
</head>
<body>
    
    
    <div>
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>
    
</body>
</html>
